<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Form Core C#</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <script type="text/javascript">
      window.ApiEndpoint = 'http://localhost:81';
    </script>
  </head>
  <body>
    <noscript>Please enable JavaScript in order to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
