root = true

[*.{cs,vb}]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

[*.cs]
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = none
csharp_new_line_between_query_expression_clauses = false
csharp_space_after_keywords_in_control_flow_statements = true

[*]
end_of_line = crlf

[*.xml]
indent_style = space
